<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PatChat</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='patchat.css') }}">
</head>
<body>
    <h1 style="text-align:center">Welcome to PatChat : a Patent retriever and RAG chatbot</h1>
    <div id="response"></div>
    <div id="waiter" style="display: none" class="blink_me"><i>Please wait...</i></div>
    <script>
        let eventSource;
        function remove_concepts() {
            var target_output = document.getElementById("query");
            target_output.value=target_output.value.replace(/ c[0-9]+/g,"");
        }
        function chat(){
            document.getElementById("waiter").style.display = "block";
            if (!window.EventSource) {
            // IE or an old browser
            alert("The browser doesn't support EventSource.");
            }
            var target_output = document.getElementById("response");
            var waiter = document.getElementById("waiter");
            var query_input = document.getElementById("query");
            remove_concepts();
            query = query_input.value
            var answer_source = new EventSource("/answer?query="+ encodeURIComponent(query));
            answer_source.onmessage = function (e) {
                if (e.data == "open"){
                    target_output.innerHTML +="<hr><br/>";
                    waiter.style.display = "block";
                }
                else if (e.data == "close") {
                    target_output.innerHTML +="<br/><hr>";
                    waiter.style.display = "none";
                    query_input.value=""
                    answer_source.close();
                } else {
                    target_output.innerHTML +=e.data;
                    window.scrollTo(0, document.body.scrollHeight);
                }
            };
        }
        function search(){
            var target_output = document.getElementById("response");
            var waiter = document.getElementById("waiter");
            query = document.getElementById("query").value
            const xhr = new XMLHttpRequest();
            waiter.style.display = "block";
            xhr.open("GET", "/search?query="+encodeURIComponent(query), true);
            xhr.onload = (e) => {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    target_output.innerHTML=xhr.responseText;
                } else {
                    target_output.innerHTML=xhr.statusText;
                }
                waiter.style.display = "none";
            }
            };
            xhr.onerror = (e) => {
                target_output.innerHTML=xhr.statusText;
                waiter.style.display = "none";
            };
            xhr.send(null);
        }
        function extend(){
            var target_output = document.getElementById("response");
            var waiter = document.getElementById("waiter");
            query = document.getElementById("query").value
            const xhr = new XMLHttpRequest();
            waiter.style.display = "block";
            xhr.open("GET", "/extend?query="+encodeURIComponent(query), true);
            xhr.onload = (e) => {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    target_output.innerHTML=xhr.responseText;
                } else {
                    target_output.innerHTML=xhr.statusText;
                }
                waiter.style.display = "none";
            }
            };
            xhr.onerror = (e) => {
                target_output.innerHTML=xhr.statusText;
                waiter.style.display = "none";
            };
            xhr.send(null);
        }

        function append_query(concept) {
            var target_output = document.getElementById("query");
            if (concept.checked) {
                target_output.value+=" "+concept.id
            } else {
                target_output.value=target_output.value.replace(" "+concept.id,"")
            }
        }
</script>
<hr>
<form method="post">
<div style="text-align: center">
    <input type="search" id="query" name="query" size="100" placeholder="Type your query here" required /></form></body>
    <br>
    <button type="button" onclick="extend()">Extend</button>
    <button type="button" onclick="search()">Search</button>
    <button type="button" onclick="chat()">Chat</button>
</div>
</form>
</body>
</html>
