<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PatChat</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        table {
          font-family: arial, sans-serif;
          font-size: 11px; 
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1 align="center">Welcome to PatChat : a Patent retriever and RAG chatbot</h1>
    <div id="response"></div>
    <div id="waiter" style="display: none"><i>Please wait...</i></div>
    <script>
        let eventSource;
        function chat(){
            document.getElementById("waiter").style.display = "block";
            if (!window.EventSource) {
            // IE or an old browser
            alert("The browser doesn't support EventSource.");
            }

            var target_output = document.getElementById("response");
            var waiter = document.getElementById("waiter");
            query = document.getElementById("query").value
            var answer_source = new EventSource("/answer?query="+ encodeURIComponent(query));
            answer_source.onmessage = function (e) {
                if (e.data == "open"){
                    target_output.innerHTML +="<hr><br/>";
                    waiter.style.display = "block";
                }
                else if (e.data == "close") {
                    target_output.innerHTML +="<br/><hr>";
                    waiter.style.display = "none";
                    answer_source.close();
                } else {
                    target_output.innerHTML +=e.data;
                    window.scrollTo(0, document.body.scrollHeight);
                }
            };
        }
        function search(){
            var target_output = document.getElementById("response");
            var waiter = document.getElementById("waiter");
            query = document.getElementById("query").value
            const xhr = new XMLHttpRequest();
            waiter.style.display = "block";
            xhr.open("GET", "/search?query="+encodeURIComponent(query), true);
            xhr.onload = (e) => {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    target_output.innerHTML=xhr.responseText;
                } else {
                    target_output.innerHTML=xhr.statusText;
                }
                waiter.style.display = "none";
            }
            };
            xhr.onerror = (e) => {
                target_output.innerHTML=xhr.statusText;
                waiter.style.display = "none";
            };
            xhr.send(null);
        }
        function extend(){
            var target_output = document.getElementById("response");
            var waiter = document.getElementById("waiter");
            query = document.getElementById("query").value
            const xhr = new XMLHttpRequest();
            waiter.style.display = "block";
            xhr.open("GET", "/extend?query="+encodeURIComponent(query), true);
            xhr.onload = (e) => {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    target_output.innerHTML=xhr.responseText;
                } else {
                    target_output.innerHTML=xhr.statusText;
                }
                waiter.style.display = "none";
            }
            };
            xhr.onerror = (e) => {
                target_output.innerHTML=xhr.statusText;
                waiter.style.display = "none";
            };
            xhr.send(null);
        }
</script>
<hr>
<form method="post">
<label for="query">Your query:</label>
<input type="search" id="query" name="query" required />
<button type="button" onclick="extend()">Extend</button>
<button type="button" onclick="search()">Search</button>
<button type="button" onclick="chat()">Chat</button>
</form>
</body>
</html>
